[submodule "aur-eagletmt/PKGBUILDs/ghq"]
	path = aur-eagletmt/PKGBUILDs/ghq
	url = https://aur.archlinux.org/ghq
[submodule "aur-eagletmt/PKGBUILDs/global"]
	path = aur-eagletmt/PKGBUILDs/global
	url = https://aur.archlinux.org/global
[submodule "aur-eagletmt/PKGBUILDs/nginx-mainline"]
	path = aur-eagletmt/PKGBUILDs/nginx-mainline
	url = https://aur.archlinux.org/nginx-mainline
[submodule "aur-eagletmt/PKGBUILDs/nkf"]
	path = aur-eagletmt/PKGBUILDs/nkf
	url = https://aur.archlinux.org/nkf
[submodule "aur-eagletmt/PKGBUILDs/rxvt-unicode-pixbuf"]
	path = aur-eagletmt/PKGBUILDs/rxvt-unicode-pixbuf
	url = https://aur.archlinux.org/rxvt-unicode-pixbuf
[submodule "aur-eagletmt/PKGBUILDs/zabbix-agent"]
	path = aur-eagletmt/PKGBUILDs/zabbix-agent
	url = https://aur.archlinux.org/zabbix-agent
