[submodule "aur-eagletmt/PKGBUILDs/ghq"]
	path = aur-eagletmt/PKGBUILDs/ghq
	url = https://aur.archlinux.org/ghq
[submodule "aur-eagletmt/PKGBUILDs/global"]
	path = aur-eagletmt/PKGBUILDs/global
	url = https://aur.archlinux.org/global
[submodule "aur-eagletmt/PKGBUILDs/nkf"]
	path = aur-eagletmt/PKGBUILDs/nkf
	url = https://aur.archlinux.org/nkf
[submodule "aur-eagletmt/PKGBUILDs/rxvt-unicode-pixbuf"]
	path = aur-eagletmt/PKGBUILDs/rxvt-unicode-pixbuf
	url = https://aur.archlinux.org/rxvt-unicode-pixbuf
[submodule "aur-eagletmt/PKGBUILDs/zabbix-agent"]
	path = aur-eagletmt/PKGBUILDs/zabbix-agent
	url = https://aur.archlinux.org/zabbix-agent
[submodule "aur-eagletmt/PKGBUILDs/zabbix-server"]
	path = aur-eagletmt/PKGBUILDs/zabbix-server
	url = https://aur.archlinux.org/zabbix-server
[submodule "aur-eagletmt/PKGBUILDs/yaskkserv"]
	path = aur-eagletmt/PKGBUILDs/yaskkserv
	url = https://aur.archlinux.org/yaskkserv
[submodule "aur-eagletmt/PKGBUILDs/dropbox"]
	path = aur-eagletmt/PKGBUILDs/dropbox
	url = https://aur.archlinux.org/dropbox
[submodule "aur-eagletmt/PKGBUILDs/pt1_drv-dkms-hg"]
	path = aur-eagletmt/PKGBUILDs/pt1_drv-dkms-hg
	url = https://aur.archlinux.org/pt1_drv-dkms-hg
[submodule "aur-eagletmt/PKGBUILDs/pt3_drv-dkms-git"]
	path = aur-eagletmt/PKGBUILDs/pt3_drv-dkms-git
	url = https://aur.archlinux.org/pt3_drv-dkms-git
[submodule "aur-eagletmt/PKGBUILDs/mlterm"]
	path = aur-eagletmt/PKGBUILDs/mlterm
	url = https://aur.archlinux.org/mlterm
[submodule "aur-eagletmt/PKGBUILDs/envchain"]
	path = aur-eagletmt/PKGBUILDs/envchain
	url = https://aur.archlinux.org/envchain.git
[submodule "aur-eagletmt/PKGBUILDs/google-cloud-sdk"]
	path = aur-eagletmt/PKGBUILDs/google-cloud-sdk
	url = https://aur.archlinux.org/google-cloud-sdk.git
[submodule "aur-eagletmt/PKGBUILDs/itamae"]
	path = aur-eagletmt/PKGBUILDs/itamae
	url = https://aur.archlinux.org/itamae.git
[submodule "aur-eagletmt/PKGBUILDs/td-agent"]
	path = aur-eagletmt/PKGBUILDs/td-agent
	url = https://aur.archlinux.org/td-agent.git
[submodule "aur-eagletmt/PKGBUILDs/mysql56"]
	path = aur-eagletmt/PKGBUILDs/mysql56
	url = https://aur.archlinux.org/mysql56.git
[submodule "aur-eagletmt/PKGBUILDs/mitamae"]
	path = aur-eagletmt/PKGBUILDs/mitamae
	url = https://aur.archlinux.org/mitamae.git
[submodule "aur-eagletmt/PKGBUILDs/gce-compute-image-packages"]
	path = aur-eagletmt/PKGBUILDs/gce-compute-image-packages
	url = https://aur.archlinux.org/gce-compute-image-packages
