[submodule "aur-eagletmt/PKGBUILDs/ghq"]
	path = aur-eagletmt/PKGBUILDs/ghq
	url = https://aur.archlinux.org/ghq
[submodule "aur-eagletmt/PKGBUILDs/global"]
	path = aur-eagletmt/PKGBUILDs/global
	url = https://aur.archlinux.org/global
[submodule "aur-eagletmt/PKGBUILDs/nginx-mainline"]
	path = aur-eagletmt/PKGBUILDs/nginx-mainline
	url = https://aur.archlinux.org/nginx-mainline
