!!!
%html
  %head
    %meta{charset: "utf-8"}

    / Always force latest IE rendering engine or request Chrome Frame
    %meta{content: "IE=edge,chrome=1", 'http-equiv': "X-UA-Compatible"}

    / Use title if it's in the page YAML frontmatter
    %title!= yield_content(:title)

    != stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css', integrity: 'sha256-JcgoO7qVianjbv43Z5KinReHzk9/rEZg5m6z/ZZy3DI= sha512-rYMbEYJa5+7VkGdfAypdYHqwIdCNEBKh8lhKUNIv58tgHQuHHzXC/Bzf66BFDkTjq970Lc6OIEpgllKINGDCKQ==', crossorigin: 'anonymous'

  %body{class: page_classes}
    .container
      != yield
      - github_link = 'https://github.com/eagletmt/arch.wanko.cc'
      %footer= link_to github_link, github_link
