<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{name}} - arch.wanko.cc</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>{{name}}</h1>
      <div class="card">
        <div class="card-header">Setup</div>
        <div class="card-body">
          <p>Before using this repository, import and trust <a href="https://wanko.cc/gpg.html">my GPG key</a>.</p>
          <pre><code># pacman-key --recv-keys C48DBD97&#x000A;# pacman-key --lsign-key C48DBD97</code></pre>
          <p>Add the following setting to your /etc/pacman.conf.</p>
          <pre><code>[{{name}}]&#x000A;SigLevel = Required&#x000A;Server = http://arch.wanko.cc/$repo/os/$arch</code></pre>
        </div>
      </div>
      <div>
        <h2>x86_64</h2>
        <table class="table">
          <thead>
            <tr>
              <th>name</th>
              <th>version</th>
              <th>package</th>
              <th>signature</th>
              <th>builddate</th>
            </tr>
          </thead>
          <tbody>{{#each packages}}
            <tr>
              <td>{{name}}</td>
              <td>{{version}}</td>
              <td><a href="/{{../name}}/os/x86_64/{{filename}}">{{filename}}</a></td>
              <td><a href="/{{../name}}/os/x86_64/{{filename}}.sig">{{filename}}.sig</a></td>
              <td data-time="{{builddate_timestamp}}">{{builddate_str}}</td>
            </tr>{{/each}}
          </tbody>
        </table>
      </div>

      <footer><a href="https://github.com/eagletmt/arch.wanko.cc">https://github.com/eagletmt/arch.wanko.cc</a></footer>
    </div>
  </body>
</html>
